.list {
  background-color: #fff;
  padding: 20px 30px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  list-style: none;
}

@media (max-width: 1120px) {
  .list {
    grid-template-columns: 1fr;
    padding: 20px 15px;
    gap: 20px;
  }
}
