.list {
  background-color: #fff;
  padding: 20px 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 451px);
  gap: 36px;
  list-style: none;
}

@media (max-width: 1120px) {
  .list {
    grid-template-columns: 1fr;
    padding: 20px 15px;
    gap: 20px;
  }
}
