.list {
  background-color: #ffffff;
  padding: 20px 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 451px);
  gap: 36px;
  list-style: none;
}

/* Responsive */

@media (max-width: 991px) {
  .list {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 20px;
  }
}
