body {
  background-color: #f7f7f7;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  max-width: 1050px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 1120px) {
  .container {
    padding: 0;
  }
}
