.card {
  display: flex;
  justify-content: flex-start;
  height: 281px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.card__content {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card__image {
  flex-shrink: 0;
  height: auto;
  width: 183px;
  vertical-align: bottom;
  background-color: #dddddd;
  background-image: url('./no-image.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}

.card__title-box {
  display: flex;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 205px;
}

.card__rate {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid #e90000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 12px;
}

.card__rate.card__rate--above3 {
  border-color: #e97e00;
}
.card__rate.card__rate--above5 {
  border-color: #e9d100;
}
.card__rate.card__rate--above7 {
  border-color: #66e900;
}

.card__date {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  color: #827e7e;
  margin-bottom: 9px;
}

.card__lables {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.card__label {
  display: inline-block;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 8px;
}

.card__label:last-child {
  margin-right: 0;
}

.card__text {
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
  max-height: 110px;
  margin-bottom: auto;
}
