.search {
  padding: 34px 0;
}

.search__input {
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  height: 40px;
  padding-top: 5px;
}

/* Responsive */

@media (max-width: 767px) {
  .search {
    padding: 0 0 10px 0;
  }
}
